.hero {
  padding: clamp(1.25rem, -0.143rem + 5.714vw, 5rem) 0;
  position: relative;
  overflow: hidden;
}
.hero__inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 7px;
  border-radius: 9px;
  padding: 7px 12px;
  background: $blue-15;
  width: fit-content;
  margin-bottom: 20px;
}
.hero__inner--text {
  font: 600 clamp(0.75rem, 0.704rem + 0.19vw, 0.875rem) $font-family;
  text-transform: uppercase;
  color: $blue;
}
.hero__title {
  max-width: 650px;
  font: 700 clamp(2.5rem, 2.129rem + 1.524vw, 3.5rem) / 120% $font-family;
  color: $black;
  padding-bottom: 16px;
}
.hero__subtitle {
  font: 300 clamp(1rem, 0.907rem + 0.381vw, 1.25rem) / 140% $font-family;
  color: $black;
  opacity: 0.5;
  padding-bottom: 40px;
}
.hero__btn {
  margin-bottom: 130px;
}
.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 100px;
  padding: 20px 32px;
  background: $blue;
  width: fit-content;
  font: 600 clamp(1rem, 0.907rem + 0.381vw, 1.25rem) $font-family;
  color: $white;
  transition: all 0.3s ease;
}
.hero__btn:hover {
  background: $blue-15;
  color: $blue;
}
.hero__items {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}
.hero__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
  border-radius: 9px;
  padding: 7px 12px;
  height: 78px;
}
.hero__item:nth-child(1) {
  background: $black;
  width: 125px;
}
.hero__item:nth-child(2) {
  background: $blue-15;
}
.hero__item--dot {
  border-radius: 100%;
  background-color: $blue;
  width: 12px;
  display: block;
  height: 12px;
}
.hero__item--text {
  font: 600 clamp(0.75rem, 0.704rem + 0.19vw, 0.875rem) $font-family;
  text-transform: uppercase;
  color: $white;
}
.hero__item--icon {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.hero__item--info {
}
.hero__item--title {
  font: 600 clamp(0.75rem, 0.704rem + 0.19vw, 0.875rem) $font-family;
  text-transform: uppercase;
  color: $blue;
}
.hero__item--descr {
  font: 400 clamp(0.75rem, 0.704rem + 0.19vw, 0.875rem) $font-family;
  color: $blue;
}
.hero__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: clamp(38.75rem, 1.541rem + 58.14vw, 51.25rem);
}
@media screen and (max-width: 1024px) {
  .hero__btn {
    margin-bottom: 400px;
  }
  .hero__image {
    z-index: -1;
    right: unset;
    left: -150px;
  }
  .hero__item:nth-child(1),
  .hero__item:nth-child(2) {
    background: rgba(255, 255, 255, 0.15);
  }
  .hero__item--title,
  .hero__item--descr {
    color: $white;
  }
}
@media screen and (max-width: 450px) {
  .hero__btn {
    margin-bottom: 430px;
  }
  .hero__items {
    justify-content: center;
    gap: 10px;
  }
  .hero__items {
    padding-bottom: 50px;
  }
}
